<div class="container my-5">
  <div class="row">
    <div class="col">
      <h2>Finaware</h2>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro incidunt
        sed, quod quae cupiditate tempora pariatur non, qui maiores quo, rem
        odio eligendi necessitatibus rerum iusto quaerat consequuntur.
      </p>
      <p class="text-justify">
        Repellendus eum sapiente similique consequuntur ipsa illum! Doloremque
        quam aliquam impedit! Repudiandae soluta necessitatibus ab molestiae.
        Rerum nam libero enim porro itaque sint vero tempora blanditiis, tempore
        modi non quam ratione voluptates facilis dolorum culpa quaerat rem
        architecto. Reiciendis odio ipsam repudiandae quibusdam provident itaque
        expedita. Iure amet tempore ut hic provident exercitationem illo cumque
        libero quia. Non aspernatur exercitationem voluptatibus sint repellat ut
        provident cum possimus ratione et, maxime maiores ullam!
      </p>
      <a routerLink="/"> Go Back</a>
    </div>
  </div>
</div>
